{include file="public/head" /}
<!--有理想的地方，地狱都是天堂-->
<!--Copyright @   版权所有-->
<!--开发：dj-->
    <!--左侧 开始-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu hidden-sm hidden-md hidden-lg" data-widget="tree" data-animation-speed="200">
                {include file="public/left" /}
            </ul>
            <ul class="sidebar-menu" data-widget="tree" data-animation-speed="200">
                {include file="public/global_left" /}
            </ul>
        </section>
    </aside>
    <!--左侧 结束-->
    <!--右侧 开始-->
    <div class="content-wrapper">
        <!--导航 开始-->
        <div>
            <ol class="breadcrumb">
                <li>{$Think.lang.v_global}</li>
                <li>{$Think.lang.v_system_manage}</li>
                <li>{$Think.lang.v_data} {$Think.lang.v_backup}</li>
            </ol>
        </div>
        <!--导航 结束-->
        <!--内容 开始-->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <div class="col-md-12 mb-2">
                        <div class="row">
                            <a id="export" class="btn btn-success" href="{:url('databackup/export?lang='.input('lang'))}"><i class="fa fa-plus-circle"></i> {$Think.lang.v_add} {$Think.lang.v_backup}</a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped table-bordered table-hover">
                        <form name="form2" id="form2" action="" method="post">
                            <tr>
                                <th>{$Think.lang.v_document_name}</th>
                                <th>{$Think.lang.v_backup} {$Think.lang.v_time}</th>
                                <th class="hidden-xs">{$Think.lang.v_document} {$Think.lang.v_size}</th>
                                <th>{$Think.lang.v_do}</th>
                            </tr>
                            {foreach name='list' key='i' item='rs'}
                                <tr>
                                    <td>{$rs.time|date='Ymd-His'}-{$rs.part}.sql{eq name="rs.compress" value="GZ"}.gz{/eq}</td>
                                    <td>{$rs.time|date='Y-m-d H:i:s'}</td>
                                    <td class="hidden-xs">{$rs.size|getfilesize}</td>
                                    <td>
                                        <a class="btn btn-sm btn-success mb-2 mr-2" href="{:url('databackup/down?time='.$rs['time'].'&lang='.input('lang'))}"><i class="fa fa-download"></i> {$Think.lang.v_download}</a>
                                        <a class="btn btn-sm btn-info mb-2 mr-2 dataimport" href="{:url('databackup/import?time='.$rs['time'].'&lang='.input('lang'))}"><i class="fa fa-reply-all"></i> {$Think.lang.v_restore}</a>
                                        <a class="btn btn-sm btn-danger mb-2" onclick="return confirm('{$Think.lang.v_confirm_delete}！')" href="{:url('databackup/del?time='.$rs['time'].'&lang='.input('lang'))}"><i class="fa fa-trash"></i> {$Think.lang.v_delete}</a>
                                    </td>
                                </tr>
                            {/foreach}
                        </form>
                    </table>
                </div>
            </div>
        </section>
        <!--内容 结束-->
    </div>
    <!--右侧 结束-->
    <div class="clearfix"></div>
{include file="public/foot" /}
<!--数据库备份 开始-->
<script>
        //备份表方法
        $("#export").click(function(){
            $(this).html("{$Think.lang.v_data_require_backup}");
            $.post(
                $("#export-form").attr("action"),
                $("#export-form").serialize(), 
                function(data){
                    if(data.code==1){
                        $("#export").html( "{$Think.lang.v_data_begin_donotclose}");
                        backup(data.data.tab);
                        window.onbeforeunload = function(){ return "{$Think.lang.v_data_backuping_donotclose}" }
                    }else{
                        alert(data.msg);
                    }
                }
            , "json");
            $("#export").html("<i class='fa fa-plus-circle'></i> {$Think.lang.v_add} {$Think.lang.v_backup}");
            return false;  
        }); 
        //递归备份表
        function backup(tab,status){
            status && showmsg(tab.id, "{$Think.lang.v_data_begin_backup}(0%)");
            $.get( $("#export-form").attr("action"), tab, function(data){
            // console.log(data)
                if(data.code==1){
                    showmsg(tab, data.msg);
                    if(!$.isPlainObject(data.data.tab)){
                        $("#export").html("{$Think.lang.v_data_end_backup}");
                        window.onbeforeunload = function(){ return null }
                        location.reload();
                        return;
                    } 
                    backup(data.data.tab, tab.id != data.data.tab.id);
                }else{
                    $("#export").html("{$Think.lang.v_add} {$Think.lang.v_backup}");
                }
            }, "json");
        }
        //修改备份状态
        function showmsg(tab, msg){
            $("table tbody tr").eq(tab.id).find(".info").html(msg)
        }
</script>
<form id="export-form" method="post" action="{:url('databackup/export?lang='.input('lang'))}">
{foreach name='tablelist' item='table'}   
    <input style="display: none;" checked="chedked" type="checkbox" name="tables[]" value="{$table.name}">
{/foreach}
</form>
<!--数据库备份 结束-->
<!--数据库还原 开始-->
<script>
        $(".dataimport").click(function(){
            var self = this, status = ".";
            $(this).parent().prevAll('.status').html("").html('{$Think.lang.v_data_begin_restore}');
            $.get(self.href, success, "json");
            window.onbeforeunload = function(){ return "{$Think.lang.v_data_restoring_donotclose}" }
            return false;
            function success(data){
                if(data.code==1){
                    $(self).parent().prev().text(data.msg);
                    if(data.data.part){
                        $.get(self.href, 
                            {"part" : data.data.part, "start" : data.data.start}, 
                            success, 
                            "json"
                        );
                    }else{
                        alert(data.msg, function(index){
                            window.onbeforeunload = function(){
                                location.reload();
                            }
                            close(index);
                        });
                    }
                } else {
                    alert(data.msg);
                }
            }
        });
</script>
<!--数据库还原 结束-->
</body>
</html>