<!--有理想的地方，地狱都是天堂-->
<!--Copyright @   版权所有-->
<!--开发：dj-->
{foreach $authrule_arr as $k => $v}
    {php}
        in_array($v['id'],$rules_array) ? $checked = "checked=\"checked\"" : $checked = "";
        $vid = $v['id']; $ruleFlag = 0;
    {/php}
    {tag:list name="authruleRs" table="auth_rule" where="parentid='$vid'" limit="1" order="sequence desc"}
        {php}$ruleFlag = 1;{/php}
	{/tag:list}
	<div class="panel-group accordion faq-content" id="accordion1">
	    <div class="panel panel-default">
		    <div class="panel-heading">
		        <h4 class="panel-title">
		            <a data-toggle="collapse" data-parent="#accordion1" href="#collapse_{$k+1}">&nbsp;
		                <span class="pull-left">{$k+1}、{$v.title}</span>
		                {if $ruleFlag eq 1}<span class="pull-right">+</span>{/if}
		            </a>
		        </h4>
		    </div>
		    {if $ruleFlag eq 1}
		        <div id="collapse_{$k+1}" class="panel-collapse collapse">
		            <div class="panel-body">
		            	<div class="col-md-12 checkbox">
			                <label class="mr-4"><input name="rules[]" type="checkbox" value="{$v.id}" {$checked} /> {$v.title}</label>
			                {tag:list name="authruleRs" table="auth_rule" where="parentid='$vid'" limit="10000" order="sequence desc"}
                                {php}in_array($authruleRs['id'],$rules_array) ? $childChecked = "checked=\"checked\"" : $childChecked = "";{/php}
                                <label class="mr-4"><input name="rules[]" type="checkbox" value="{$authruleRs.id}" {$childChecked} /> {$authruleRs.title}</label>
			                {/tag:list}
			            </div>
		            </div>
		        </div>
		    {/if}
		</div>
	</div>
{/foreach}