{include file="public/head" /}
<!--有理想的地方，地狱都是天堂-->
<!--Copyright @   版权所有-->
<!--开发：dj-->
    <!--左侧 开始-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu hidden-sm hidden-md hidden-lg" data-widget="tree" data-animation-speed="200">
                {include file="public/left" /}
            </ul>
            <ul class="sidebar-menu" data-widget="tree" data-animation-speed="200">
                {include file="public/global_left" /}
            </ul>
        </section>
    </aside>
    <!--左侧 结束-->
    <!--右侧 开始-->
    <div class="content-wrapper">
        <!--导航 开始-->
        <div>
            <ol class="breadcrumb">
                <li>{$Think.lang.v_global}</li>
                <li>{$Think.lang.v_system_manage}</li>
                <li>{$Think.lang.v_template} {$Think.lang.v_manage}</li>
                <li class="text-red">{$Think.lang.v_addnew} {$Think.lang.v_document}：{$root_path}{$Think.get.mulu}/</li>
            </ol>
        </div>
        <!--导航 结束-->
        <!--内容 开始-->
        <section class="content">
            <div class="box">
                <div class="box-body">
                    <div class="col-md-12 mb-2">
                        <div class="row">
                            <a class="btn btn-info mr-2" onclick="javascript:history.back(-1);"><i class="fa fa-reply-all"></i> {$Think.lang.v_goback}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-header with-border"><i class="fa fa-edit"></i> {$Think.lang.v_addnew} {$Think.lang.v_document}：<span class="text-red">/template{$Think.get.mulu}/</span></div>
                <div class="box-body">
                    <form method="post" action="" class="form-horizontal">
                        <input type="hidden" name="lang" value="{:input('lang')}">
                        <div class="form-group">
                            <div class="col-md-2 control-label text-red">{$Think.lang.v_document_name} *</div>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="filename" placeholder="{$Think.lang.v_english_only}" />
                                    <span class="input-group-addon">.{$suffix}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 control-label text-red">{$Think.lang.v_document} {$Think.lang.v_content_a} *</div>
                            <div class="col-md-10">
                                <textarea name="content" rows="35" class="form-control">{$content}</textarea>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-10 mb-4">
                            <button type="submit" class="btn btn-success mr-4"><i class="fa fa-check"></i> {$Think.lang.v_save}</button>
                            <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);"><i class="fa fa-angle-double-left"></i> {$Think.lang.v_goback}</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--内容 结束-->
    </div>
    <!--右侧 结束-->
    <div class="clearfix"></div>
{include file="public/foot" /}
</body>
</html>