{include file="public/head" /}
<!--有理想的地方，地狱都是天堂-->
<!--Copyright @   版权所有-->
<!--开发：dj-->
    <!--左侧 开始-->
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu hidden-sm hidden-md hidden-lg" data-widget="tree" data-animation-speed="200">
                {include file="public/left" /}
            </ul>
            <ul class="sidebar-menu" data-widget="tree" data-animation-speed="200">
                {include file="public/global_left" /}
            </ul>
        </section>
    </aside>
    <!--左侧 结束-->
    <!--右侧 开始-->
    <div class="content-wrapper">
        <!--导航 开始-->
        <div>
            <ol class="breadcrumb">
                <li>{$Think.lang.v_global}</li>
                <li>{$Think.lang.v_global}</li>
                <li>{$Think.lang.v_comment} {$Think.lang.v_manage}</li>
                <li>
                    <span class="text-red">
                        {notempty name="mod_title"}
                            {$mod_title}
                        {else /}
                            {$Think.lang.v_all}
                        {/notempty}
                    </span>
                </li>
            </ol>
        </div>
        <!--导航 结束-->
        <!--内容 开始-->
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <form name="form1" action="{:url('comment/index?signid='.input('signid').'&lang='.input('lang').'&tabledir='.input('tabledir').'&keyword='.input('keyword'))}" method="post">
                        <input type="hidden" name="lang" value="{:input('lang')}">
                        <div class="col-md-8">
                            <div class="row">
                                <a class="btn {if input('signid') eq 3 or empty(input('signid'))}btn-success{else /}btn-default{/if} mb-2 mr-2" href="{:url('comment/index?tabledir='.input('tabledir').'&lang='.input('lang').'&signid=3')}"><i class="fa fa-eye"></i> {$Think.lang.v_audit_pending}</a>
                                <a class="btn {if input('signid') eq 1}btn-success{else /}btn-default{/if} mb-2 mr-2" href="{:url('comment/index?tabledir='.input('tabledir').'&lang='.input('lang').'&signid=1')}"><i class="fa fa-check-circle"></i> {$Think.lang.v_audit}</a>
                                <a class="btn {if input('signid') eq 2}btn-success{else /}btn-default{/if} mb-2 mr-2" href="{:url('comment/index?tabledir='.input('tabledir').'&lang='.input('lang').'&signid=2')}"><i class="fa fa-times-circle"></i> {$Think.lang.v_reject}</a>
                                <a class="btn {if input('signid') eq 9}btn-success{else /}btn-default{/if} mb-2 mr-2" href="{:url('comment/index?tabledir='.input('tabledir').'&lang='.input('lang').'&signid=9')}"><i class="fa fa-recycle"></i> {$Think.lang.v_recycle}</a>
                            </div>
                        </div>
                        <div class="col-md-4 input-group mb-2">
                            <div class="input-group-btn">
                                <select name="tabledir" class="btn btn-success" style="height:34px;">
                                    <option value="">{$Think.lang.v_all}</option>
                                    {volist name="modulelist" id="modRs"}
                                        <option value="{$modRs.tabledir}" {if input('tabledir') eq $modRs.tabledir}selected="selected"{/if}>{$modRs.title}</option>
                                    {/volist}
                                </select>
                            </div>
                            <input type="text" name="keyword" class="form-control" placeholder="{$Think.lang.v_quickfind}" />
                            <div class="input-group-btn"><button type="submit" class="btn btn-success"><i class="fa fa-search"></i> {$Think.lang.v_search}</button></div>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <table class="table table-striped table-bordered table-hover">
                        <form name="form2" id="form2" action="" method="post">
                            <tr>
                                <th>ID</th>
                                <th>{$Think.lang.v_comment} {$Think.lang.v_content_a}</th>
                                <th>{$Think.lang.v_do}</th>
                            </tr>
                            {volist name="list" id="rs"}
                                {php}$id = $rs['id'];{/php}
                                <input type="hidden" name="id[]" value="{$rs.id}" />
                                <tr>
                                    <td><label><input type="checkbox" name="selectid[]" id="selectid" value="{$rs.id}" /><span class="hidden-xs"> {$rs.id}</span></label></td>
                                    <td class="content">
                                        {$rs.addtime|date='Y-m-d H:i:s'}<br>
                                        {$rs.content|raw}<br>
                                        {lt name="rs.parentid" value="1"}
                                            <a class="btn btn-success btn-sm mb-2" data-target="#reply{$key}" data-toggle="modal" href="{:url('comment/reply?id='.$rs['id'].'&lang='.input('lang'))}"><i class="fa fa-reply"></i> {$Think.lang.v_reply} （{tag:count table="comment" where="parentid=$id" /}）</a>
                                        {/lt}
                                    </td>
                                    <td>
                                        {switch signid}
                                            {case 3}<!--待审核：通过/拒绝/编辑/软删除-->
                                                <a class="btn btn-sm bg-olive mb-2 mr-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=1')}"><i class="fa fa-check-circle"></i> {$Think.lang.v_check_pass}</a><!--通过-->
                                                <a class="btn btn-sm bg-purple mb-2 mr-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=2')}"><i class="fa fa-times-circle"></i> {$Think.lang.v_check_cancel}</a><!--拒绝-->
                                                <a class="btn btn-sm btn-success mb-2 mr-2" data-target="#ajax{$key}" data-toggle="modal" href="{:url('comment/edit?id='.$rs['id'].'&lang='.input('lang'))}"><i class="fa fa-edit"></i> {$Think.lang.v_edit}</a><!--编辑-->
                                                <a class="btn btn-sm btn-danger mb-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=9')}"><i class="fa fa-trash"></i> {$Think.lang.v_delete}</a><!--软删除-->
                                            {/case}
                                            {case 1}<!--已通过：拒绝/编辑/软删除-->
                                                <a class="btn btn-sm bg-purple mb-2 mr-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=2')}"><i class="fa fa-times-circle"></i> {$Think.lang.v_check_cancel}</a><!--拒绝-->
                                                <a class="btn btn-sm btn-success mb-2 mr-2" data-target="#ajax{$key}" data-toggle="modal" href="{:url('comment/edit?id='.$rs['id'].'&lang='.input('lang'))}"><i class="fa fa-edit"></i> {$Think.lang.v_edit}</a><!--编辑-->
                                                <a class="btn btn-sm btn-danger mb-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=9')}"><i class="fa fa-trash"></i> {$Think.lang.v_delete}</a><!--软删除-->
                                            {/case}
                                            {case 2}<!--已拒绝：通过/编辑/软删除-->
                                                <a class="btn btn-sm bg-olive mb-2 mr-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=1')}"><i class="fa fa-check-circle"></i> {$Think.lang.v_check_pass}</a><!--通过-->
                                                <a class="btn btn-sm btn-success mb-2 mr-2" data-target="#ajax{$key}" data-toggle="modal" href="{:url('comment/edit?id='.$rs['id'].'&lang='.input('lang'))}"><i class="fa fa-edit"></i> {$Think.lang.v_edit}</a><!--编辑-->
                                                <a class="btn btn-sm btn-danger mb-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=9')}"><i class="fa fa-trash"></i> {$Think.lang.v_delete}</a><!--软删除-->
                                            {/case}
                                            {case 9}<!--恢复/真实删除-->
                                                <a class="btn btn-sm bg-olive mb-2 mr-2" href="{:url('comment/update_signid?lang='.input('lang').'&id='.$rs['id'].'&signid=3')}"><i class="fa fa-reply-all"></i> {$Think.lang.v_restore}</a><!--恢复-->
                                                <a class="btn btn-sm btn-success mb-2 mr-2" data-target="#ajax{$key}" data-toggle="modal" href="{:url('comment/edit?id='.$rs['id'].'&lang='.input('lang'))}"><i class="fa fa-edit"></i> {$Think.lang.v_edit}</a><!--编辑-->
                                                <a class="btn btn-sm btn-danger mb-2" onClick='return confirm("{$Think.lang.v_delete_all}？");' href="{:url('comment/delete_one?lang='.input('lang').'&id='.$rs['id'])}"><i class="fa fa-trash"></i> {$Think.lang.v_delete}</a><!--真实删除-->
                                            {/case}
                                        {/switch}
                                    </td>
                                </tr>
                                <div class="modal fade" id="ajax{$key}" role="basic" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"><img src="__ADMIN__/img/loading.gif" class="loading"><br><br>Loading...</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="reply{$key}" role="basic" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body text-center"><img src="__ADMIN__/img/loading.gif" class="loading"><br><br>Loading...</div>
                                        </div>
                                    </div>
                                </div>
                            {/volist}
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12 mt-2"><div class="pull-left">{$Think.lang.v_total} {$total} {$Think.lang.v_records}</div></div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-info mt-2 mb-2 mr-2 checkbox-toggle"><i class="fa fa-square-o"></i> {$Think.lang.v_select_all}</button><!--全选/反选-->
                                                {switch signid}
                                                    {case 3}<!--待审核：通过/拒绝/软删除-->
                                                        <button type="button" class="btn bg-olive mt-2 mb-2 mr-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=1&lang='.input('lang'))}","update");'><i class="fa fa-check-circle"></i> {$Think.lang.v_batch} {$Think.lang.v_check_pass}</button><!--通过-->
                                                        <button type="button" class="btn bg-purple mt-2 mb-2 mr-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=2&lang='.input('lang'))}","update");'><i class="fa fa-times-circle"></i> {$Think.lang.v_batch} {$Think.lang.v_check_cancel}</button><!--拒绝-->
                                                        <button type="button" class="btn btn-danger mt-2 mb-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=9&lang='.input('lang'))}","update");'><i class="fa fa-trash"></i> {$Think.lang.v_delete_select}</button><!--软删除-->
                                                    {/case}
                                                    {case 1}<!--已通过：拒绝/软删除-->
                                                        <button type="button" class="btn bg-purple mt-2 mb-2 mr-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=2&lang='.input('lang'))}","update");'><i class="fa fa-times-circle"></i> {$Think.lang.v_batch} {$Think.lang.v_check_cancel}</button><!--拒绝-->
                                                        <button type="button" class="btn btn-danger mt-2 mb-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=9&lang='.input('lang'))}","update");'><i class="fa fa-trash"></i> {$Think.lang.v_delete_select}</button><!--软删除-->
                                                    {/case}
                                                    {case 2}<!--已拒绝：通过/软删除-->
                                                        <button type="button" class="btn bg-olive mt-2 mb-2 mr-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=1&lang='.input('lang'))}","update");'><i class="fa fa-check-circle"></i> {$Think.lang.v_batch} {$Think.lang.v_check_pass}</button><!--通过-->
                                                        <button type="button" class="btn btn-danger mt-2 mb-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=9&lang='.input('lang'))}","update");'><i class="fa fa-trash"></i> {$Think.lang.v_delete_select}</button><!--软删除-->
                                                    {/case}
                                                    {case 9}<!--恢复/真实删除-->
                                                        <button type="button" class="btn bg-olive mt-2 mb-2 mr-2" onClick='ConfirmDel("","{:url('comment/updateall_signid?signid=3&lang='.input('lang'))}","update");'><i class="fa fa-reply-all"></i> {$Think.lang.v_batch} {$Think.lang.v_restore}</button><!--恢复-->
                                                        <button type="button" class="btn btn-danger mt-2 mb-2" onClick='ConfirmDel("{$Think.lang.v_confirm_delete}","{:url('comment/delete_all?lang='.input('lang'))}","delete");'><i class="fa fa-trash"></i> {$Think.lang.v_delete_select}</button><!--真实删除-->
                                                    {/case}
                                                {/switch}
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </form>
                    </table>
                </div>
            </div>
        </section>
        <!--内容 结束-->
    </div>
    <!--右侧 结束-->
    <div class="clearfix"></div>
{include file="public/foot" /}
{include file="public/icheckjs" /}
</body>
</html>